body {
  font-family: 'Georgia',serif;
  background-color: thistle;
  /*background-image: url("paper.gif");*/
}

#search input[type=text] {
  padding: 6px;
  margin-top: 4px;
  font-size: 17px;
  border: none;
  border-radius: 2px;
}
#search button{
  float: right;
  padding: 6px 10px;
  margin-top: 4px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
#search button:hover {
  background: #ccc;
}

.sidebar #side {
  cursor: pointer;
  padding: 8px 8px 8px 30px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  display: block;
  transition: 0.3s;
  border-left: 6px solid blue;
  
}
.sidebar {
  margin-top: 3.6rem;
  margin-left: .4rem;
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.6s;
  padding-top: 60px;
}

.sidebar #side:hover {
  background-color: wheat;
  font-weight: bolder;
}

.sidebar #closebtn:hover {
  color: black;
  font-weight: bolder;
}

.sidebar #closebtn {
  color: #818181;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 38px;
  margin-left: 300px;
  margin-top: 15px;
  cursor: pointer;
}

#title {
  text-align: center;
  font-size: 1.4rem;
}
.productBtn {
  display: flex;
  justify-content: center;
}

.productBtn #headBtn:hover {
  background-color: #444;
}
#headBtn {
  font-family: 'Georgia',serif;
  font-weight: bolder;
  background-color: violet;
  padding: 6px;
  border: 0.1rem black solid;
  cursor: pointer;
  font-size: 1rem;
}

#checkout:hover {
  background-color: #444;
}
#checkout {
  font-family: 'Georgia',serif;
  font-weight: bolder;
  background-color: violet;
  padding: 6px;
  border: 0.1rem black solid;
  cursor: pointer;
  font-size: 1rem;
  
}
#empty {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 30px;
}
#price {
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
}
h1,h2,h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.head {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#upmain {
  margin-left: 200px;
  margin-top: 5rem;
}
#main {
  margin-top: 3rem;
}
#find {
  margin-top: 5rem;
}
#cart {
  margin-top: 5rem;
}
.col-1 {
  flex: 1;

}
#btn {
  background-color: palegoldenrod;
  
  cursor: pointer;
}
.btnDiv {
  display: flex;
  background-color: palegoldenrod;
  
  cursor: pointer;
  justify-content: flex-start;
}
@media screen and (max-width: 648px) {
  #checkout {
    font-family: 'Georgia',serif;
    font-weight: bolder;
    background-color: violet;
    padding: 6px;
    border: 0.1rem black solid;
    margin: 1rem 15rem;
    cursor: pointer;
    font-size: 1rem;
    
  }
}

@media screen and (min-width: 700px) {
  #flex {
  display: flex;
  flex-flow: row wrap;
}
.pos {
  text-align: center;
  border: 0.14rem olive solid;
  max-width: 31rem;
  margin-left: 2px;
}
}

.col-2 {
  display: flex;
  justify-content: space-between;
  font-family:'Courier New', Courier, monospace;
}
.block {
  background-color: black;
  padding: 0.4rem;
  margin: 0rem 0.5rem 0.5rem 0.5rem;
  border-radius: 0.3rem;
}
.text-right {
  text-align: right;
  font-family:'Courier New', Courier, monospace;
}
.pos {
  text-align: center;
  border: 0.14rem olive solid;
  
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
  cursor: pointer;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.dialog {
  box-shadow: 0 8px 6px -6px black;
  position: static;
  left: 20%;
  top: 10%;
}

.image {
  width: 400px;
}

#pic {
  padding-top: 1rem;
  max-height: 9rem;
  margin: auto;
  cursor: pointer;
  display: block;
}
#btn_pos {
  padding-left: 12.5rem;
  padding-right: 12.5rem;
}
button#cartBtn {
  font-family: 'Georgia',serif;
  font-weight: bolder;
  font-size: 0.8rem;
  padding: 5px;
  margin: 5px 2px 2px 0px;
  border-radius: 0.2rem;
  border: 0.15rem #404040 solid;
  background-color: #1c87c9;
  width: fit-content;
  cursor: pointer;
}
button.add {
  background-color: green;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
button.remove {
  background-color: red;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
button.badge {
  background-color: white;
  border: 0.1rem red solid;
  height: 1.4rem;
  color: black;
  width: 1.5rem;
  border-radius: 1rem;
  font-weight: bolder;
}
#footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem 0 1rem 0rem;
  width:100%;
  background:#232F3E;
  color: white;
}
